table{
   align-items: center;
   background-color:#edf0f3;
   text-align: center;
   margin:0 auto;
   width:60%;
   border-radius: 5px;
   border: 1px solid black;
   border-collapse: collapse;
   
}

table tr:hover,td:hover{
    background-color:#d3d4d6;
}
table thead{
    background-color: black;
    color: white;
    padding:10px;
    height:40px;
}
.bDelete{
    background-color: red;
}
.bDelete:hover{
    background-color: crimson;
    color: white;
}
.bEdit{
    background-color: blue;
}
.bEdit:hover{
    background-color: dodgerblue;
    color: white;
}
button{
    margin:10px;
}
