<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% for( let i = 0 ; i < records.length ; i++){ %>
        <div >
            <div>
                <h1><%= records[i].name %></h3>
                <h2><%= records[i].price %></h2>
                <p><%- records[i].amount %> </p>
                <p><%- records[i].description %> </p>
            </div> 
        </div>
    <% } %>
</body>
</html>